body{
    margin: 0;
    padding: 0;
    background-color: skyblue;
}

.testfake1{
    background-color: white;
    width:  250px;
    height: 400px;
    border-radius: 10px;
}

#btn{
    background-color: green;
    border:none ;
    padding: 8px;
}

#free_p{
    opacity: 50%;
    margin-left: 90px;
    margin-top: 15px;
}